{{form|without('quantity', 'actions')}}

<div class="clearfix pt-5">
	<div
		class="cart-plus-minus">
		{{form.quantity}}
	</div>
	<div class="product-action clearfix">
		<i class="zmdi zmdi-favorite-outline"></i>
	</div>
	<div class="product-action clearfix">
		{{form.actions}}
	</div>
</div>
