			<!-- contact-us-AREA START -->
			<div class="contact-us-area  pt-80 pb-80">
				<div class="container">	
					<div class="contact-us customer-login bg-white">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="contact-details">
									<h4 class="title-1 title-border text-uppercase mb-30">contact details</h4>
									<ul>
										<li>
											<i class="zmdi zmdi-pin"></i>
											<span>{{ node.field_adress.value }}</span>
										</li>
										<li>
											<i class="zmdi zmdi-phone"></i>
											<span> 966 {{ node.field_phone_number.value }}</span>
										</li>
										<li>
											<i class="zmdi zmdi-email"></i>
											<span>{{ node.field_email.value }}</span>
										</li>
									</ul>
								</div>
								<div class="send-message mt-60">
									<form id="contact-form" action="https://whizthemes.com/mail-php/other/mail.php">
										<h4 class="title-1 title-border text-uppercase mb-30">send message</h4>
										<input type="text" name="con_name" placeholder="Your name here..." />
										<input type="text" name="con_email" placeholder="Your email here..." />
										<textarea class="custom-textarea" name="con_message" placeholder="Your comment here..."></textarea>
										<button class="button-one submit-button mt-20" data-text="submit message" type="submit">submit message</button>
										<p class="form-message"></p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ABOUT-US-AREA END -->
