<div class="single-product">
	<div class="product-img">
		<span class="pro-price-2">{{ product.variation_price }}</span>
		<a href="{{ product_url }}">
			<img src="{{ product.field_image.0 }}" alt=""/>
		</a>
	</div>
	<div class="product-info clearfix text-center">
		<div class="fix">
			<h4 class="post-title">
				<a href="#">{{ product.title }}</a>
			</h4>
		</div>
	</div>
</div>
