<div class="product-area pb-80 product-style-2">
	<div class="container">
		<div class="row">
			<div class="tab-content">
				<div class="tab-pane active" id="grid-view">
					<div class="row">
						{{ drupal_view('commerce_products','beans_block')}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
