<section class="slider-area slider-style-2">
	<div class="bend niceties preview-2">
		<div id="ensign-nivoslider" class="slides">
			<img src="{{ items.image|image_style('slider') }}" alt="{{ items.title }}" title="#slider"/>
		</div>
		<div id="slider" class="t-cn slider-direction">
			<div class="slider-content t-lfl s-tb slider-1">
				<div class="title-container s-tb-c title-compress">
					<div class="layer-1">
						<div class="wow fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.5s">
							<h3 class="slider-title3 text-uppercase mb-0">{{ items.title }}</h3>
						</div>
						<div class="wow fadeInUpBig" data-wow-duration="2.5s" data-wow-delay="0.5s">
							<h2 class="slider-title1 text-uppercase mb-0">{{ items.body }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
